# Variables para el contenedor de la DB
DB_USER=root
DB_PASSWORD=root
DB_NAME=db_clientes

# URL que usa Prisma (fijate que coincidan los nombres de arriba)
DATABASE_URL="postgresql://root:root@db_clientes:5432/db_clientes?schema=public"

# Una cadena aleatoria para firmar tus tokens de sesión
JWT_SECRET=nfwBqMFszntxAKHDnIkBOE+ns+/L0gwmQQNvAjAwEtU=
