@import 'tailwindcss';

@theme {
  --color-primary-brand: #019df4;
  --color-secondary-brand: #66bef5;
  --color-bg-main: #f5f5f5;
}

body {
  background-color: var(--color-bg-main);
  color: #1e293b;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}